<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>TopMenu</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{~/vendor/bootstrap/css/bootstrap.min.css}"
          href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{~/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"
          href="../../static/vendor/metisMenu/metisMenu.min.css"/>

    <!-- Custom CSS -->
    <link th:href="@{~/css/sb-admin-2.min.css}" href="../../static/css/sb-admin-2.min.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{~/vendor/font-awesome/css/font-awesome.min.css}"
          href="../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- Navigation -->
<nav th:fragment="navbar" class="navbar navbar-default navbar-static-top" role="navigation"
     style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{~/}" th:utext="#{headTitle}">BiblioTech</a>
    </div>
    <!-- /.navbar-header -->
    <!-- .navbar-top-links -->
    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li sec:authorize="isAuthenticated()" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                <li sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
                    <a href="/admin/siteTree" type="submit" th:text="#{administrate}">Administrate</a>
                </li>
                <li><a th:href="@{~/logout}" href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <li sec:authorize="not isAuthenticated()">
            <a th:href="@{~/login}"><i class="fa fa-user fa-fw"></i>LOGIN</a>
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <form th:action="@{/search}" method="get" class="input-group custom-search-form">
                        <input name="query" id="query" type="text" class="form-control"
                               th:placeholder="#{searchPlaceholder}"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </form>
                    <!-- /input-group -->
                </li>
                <li>
                    <a th:href="@{~/}"><i class="fa fa-home fa-fw"></i> Главная страница</a>
                </li>
                <li class="active">
                    <a href="#"><i class="fa fa-bookmark fa-fw"></i> Просмотр<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                        <li>
                            <a th:href="@{/community-list/}">Разделы и колекции</a>
                        </li>
                        <li class="divider"></li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<!-- jQuery -->
<script th:src="@{~/vendor/jquery/jquery.min.js}" src="../../static/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{~/vendor/bootstrap/js/bootstrap.min.js}"
        src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{~/vendor/metisMenu/metisMenu.min.js}" src="../../static/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{~/dist/js/sb-admin-2.js}" src="../../static/dist/js/sb-admin-2.js"></script>

</body>

</html>