<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="#{headTitle}">Library</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{~/css/fontawesome.min.css}"
          href="../../static/css/fontawesome.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link th:href="@{~/css/main.min.css}"
          href="../../static/css/main.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/nav :: navbar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/nav :: topbar"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div>
                    <h1 class="font-weight-bold">500 Internal Server Error</h1>
                    <div class="display-4" th:text="#{error505}">
                        Looks like something went wrong!
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span th:text="#{copyright}">Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">

</a>

<!-- Logout Modal-->
<div th:replace="fragments/nav :: logoutModal"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{~/js/jquery.min.js}" src="../../static/js/jquery.js"></script>
<script th:src="@{~/js/bootstrap.bundle.min.js}" src="../../static/js/bootstrap.bundle.js"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{~/js/jquery-easing/jquery.easing.min.js}"
        src="../../static/js/jquery-easing/jquery.easing.js"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{~/js/main.min.js}" src="../../static/js/main.js"></script>

</body>

</html>