<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${author.getFullName()}+#{pageTitle}">Library</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{~/css/fontawesome.min.css}"
          href="../static/css/fontawesome.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link th:href="@{~/css/main.min.css}"
          href="../static/css/main.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/nav :: navbar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-book"></i>
            </div>
            <div class="sidebar-brand-text mx-3" th:text="#{headTitle}">Your library</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/nav :: topbar"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form th:action="@{/search}"
                      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               th:placeholder="#{searchPlaceholder}" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-900">User</span>
                            <span style="font-size: 32px; color: Dodgerblue;">
                                <i class="fas fa-user"></i>
                            </span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                    <li sec:authorize="not isAuthenticated()" class="nav-item dropdown no-arrow">
                        <a th:href="@{~/login}" class="nav-link dropdown-toggle" href="#" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-900">LOGIN</span>
                            <span style="font-size: 32px; color: Dodgerblue;">
                                <i class="fas fa-user"></i>
                            </span>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800" th:text="${author.getFullName()}">Александр Иванович Жруздь</h1>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link" href="authorBooks.html" th:text="#{author.books}"
                                           th:href="@{/author/(name=${author.getFullName()})}">Книги</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#" th:text="#{seriesOfBook}">Cерия книг</a>
                                    </li>
                                    <li class="nav-item dropdown ml-auto">
                                        <form action="/search"
                                              class="form-inline">
                                            <div class="input-group">
                                                <input name="query" id="query" type="text"
                                                       class="form-control"
                                                       th:placeholder="#{author.search}" placeholder="Поиск по книгам"
                                                       aria-label="Search" aria-describedby="basic-addon2">
                                            </div>
                                            <input type="hidden" name="filters[0].field" value="author">
                                            <input type="hidden" name="filters[0].filter" value="equals">
                                            <input type="hidden" name="filters[0].value" value="author" th:value="${author}">
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <div class="list-group list-group-flush" th:remove="all-but-first">
                                <a href="bookSeries.html" class="list-group-item list-group-item-action"
                                   th:each="element : ${series}"
                                   th:href="@{/bookSeries/(name=${element.getName()})}"
                                   th:text="${element.getName()}">О огнешарах</a>
                                <a href="bookSeries.html" class="list-group-item list-group-item-action">О землях из земли</a>
                                <a href="bookSeries.html" class="list-group-item list-group-item-action">О пустототе среди
                                    великанов</a>
                                <a href="bookSeries.html" class="list-group-item list-group-item-action">О вздутых великанах</a>
                                <a href="bookSeries.html" class="list-group-item list-group-item-action">Можно ли считать
                                    великанов карликами</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span th:text="#{copyright}">Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/nav :: logoutModal"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{~/js/jquery.min.js}" src="../static/js/jquery.js"></script>
<script th:src="@{~/js/bootstrap.bundle.min.js}" src="../static/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{~/js/jquery-easing/jquery.easing.min.js}"
        src="../static/js/jquery-easing/jquery.easing.js"></script>

<link rel="stylesheet" type="text/css" href="../static/css/dataTables.min.css" th:href="@{~/css/dataTables.css}"/>
<script type="text/javascript" src="../static/js/dataTables/jquery.dataTables.js"
        th:src="@{~/js/dataTables/jquery.dataTables.js}"></script>
<script type="text/javascript" src="../static/js/dataTables/dataTables.bootstrap4.min.js"
        th:src="@{~/js/dataTables/dataTables.bootstrap4.js}"></script>
<script>
    $(document).ready(function () {
        $('#bookList').DataTable({
            responsive: true
        });
    });
</script>
<!-- Custom scripts for all pages-->
<script th:src="@{~/js/main.min.js}" src="../static/js/main.js"></script>

</body>

</html>
