<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${book.getTitle()}+#{pageTitle}">Library</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{~/css/fontawesome.min.css}"
          href="../static/css/fontawesome.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link th:href="@{~/css/main.min.css}"
          href="../static/css/main.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/nav :: navbar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-book"></i>
            </div>
            <div class="sidebar-brand-text mx-3" th:text="#{headTitle}">Your library</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/nav :: topbar"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form th:action="@{/search}"
                      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               th:placeholder="#{searchPlaceholder}" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-900">User</span>
                            <span style="font-size: 32px; color: Dodgerblue;">
                                <i class="fas fa-user"></i>
                            </span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                    <li sec:authorize="not isAuthenticated()" class="nav-item dropdown no-arrow">
                        <a th:href="@{~/login}" class="nav-link dropdown-toggle" href="#" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-900">LOGIN</span>
                            <span style="font-size: 32px; color: Dodgerblue;">
                                <i class="fas fa-user"></i>
                            </span>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="mb-4" th:text="${book.getTitle()}">Летящие в даль вселенной</h1>

                <div class="row">
                    <div class="col-12 col-md-8 col-lg-6">
                        <div>
                            <div th:if="${book.hasAnnotation()} OR ${book.hasCoverPage()}" >
                                <div class="card mb-2">
                                    <div class="row no-gutters">
                                        <div th:if="${book.hasCoverPage()}" class="col-12 col-md-4">
                                            <img th:src="'/covers'+${book.getCoverPage()}"
                                                 class="card-img"
                                                 src="../static/images/book.svg" alt="cover of book" th:alt="#{coverpage}">
                                        </div>
                                        <div th:if="${book.hasAnnotation()}" class="col-12 col-md-8" th:class="${book.hasAnnotation()}? 'col-12 col-md-8' : 'col-12'">
                                            <h5 class="card-header" th:text="#{annotation}">
                                                Аннотация
                                            </h5>
                                            <div class="card-body">
                                                <div class="fb2-annotation overflow-auto"
                                                     th:utext="${book.getAnnotation()}">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna,
                                                    suscipit
                                                    tincidunt placerat et, laoreet quis enim. Donec orci enim, feugiat non mi
                                                    nec,
                                                    iaculis
                                                    pellentesque magna. Mauris at nisi id magna semper placerat at in sem. In
                                                    gravida
                                                    varius
                                                    mattis. Phasellus vitae commodo urna, euismod vulputate eros. Duis vel nisi
                                                    urna.
                                                    Aenean
                                                    ut augue euismod, ultrices sem nec, commodo leo. Pellentesque varius, nulla
                                                    sit
                                                    amet
                                                    fringilla ornare, ante ipsum consequat risus, non porttitor risus enim
                                                    iaculis
                                                    nibh.
                                                    Donec imperdiet volutpat sapien. Vestibulum in dui felis. Suspendisse vitae
                                                    dictum
                                                    urna,
                                                    vel tincidunt ante. Duis quis commodo urna. Etiam mattis ipsum ut urna
                                                    convallis
                                                    molestie. Aliquam erat volutpat. Sed finibus nisl id tellus dapibus
                                                    dignissim.
                                                    Aenean
                                                    ut augue euismod, ultrices sem nec, commodo leo. Pellentesque varius, nulla
                                                    sit
                                                    amet
                                                    fringilla ornare, ante ipsum consequat risus, non porttitor risus enim
                                                    iaculis
                                                    nibh.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2">
                                <div class="card-header">
                                    <H5 class="m-0 font-weight-bold text-primary" th:text="#{item.FileInfo}">Информация о файле</H5>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="w-25" th:text="#{book.title}">Название</td>
                                            <td th:text="${book.getTitle()}">Летящие в даль вселенной</td>
                                        </tr>
                                        <tr>
                                            <td th:text="#{author}">Автор</td>
                                            <td>
                                                <div th:each="author :${book.getAuthors()}">
                                                    <a href="authorBooks.html"
                                                       th:text="${author.getFullName()}"
                                                       th:href="@{~/author/(name=${author.getFullName()})} ">
                                                        Апостол И.В.
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr th:if="${book.getPublishedDate()}">
                                            <td th:text="#{publishDate}">Год издания</td>
                                            <td th:text="${book.getPublishedDate()}">1989</td>
                                        </tr>
                                        <tr th:if="${book.getSeries()}">
                                            <td th:text="#{seriesOfBook}">Серия</td>

                                            <td>
                                                <a href="bookSeries.html" th:text="${book.getSeries().getName()}"
                                                   th:href="@{~/bookSeries/(name=${book.getSeries().getName()})}">
                                                    Одинокая вселенная
                                                </a>
                                            </td>
                                        </tr>
                                        <tr th:if="${book.getSeries()}">
                                            <td th:text="#{seriesNumber}">Серия</td>
                                            <td th:text="${book.seriesNumber}">
                                                2
                                            </td>
                                        </tr>
                                        <tr th:if="${book.getLang()}">
                                            <td th:text="#{language}">Язык произведения</td>
                                            <td th:text="${book.getLang()}">ru</td>
                                        </tr>
                                        <tr th:each="metaDate : ${book.getProperties()}">
                                            <td th:text="#{${metaDate.getKey()}}">Ключевые слова</td>
                                            <td th:text="${metaDate.getValue()}">Вселенная, Фантастика</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card mb-4 border-left-info ">
                                <div class="card-header">
                                    <H5 class="m-0 font-weight-bold text-primary" th:text="#{book.download}">Скачать
                                        книгу</H5>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th th:text="#{file}">Файл</th>
                                            <th th:text="#{loadData}">Дата загрузки</th>
                                            <th th:text="#{fileSize}">Размер</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <a href="#"
                                                   th:href="@{~/book/{idBook}/{idFile}/download(idBook=${book.getId()},idFile=${book.getFile()})}"
                                                   th:text="${book.getTitle()+'.'+book.getFileExtension()}">
                                                    Book.pdf
                                                </a>
                                            </td>
                                            <td th:text="${book.getDate()}">2009-06-21</td>
                                            <td th:text="${book.getDisplayFileSize()}">1.43 Mb</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer" th:text="#{item.AuthorsRight}">
                                    Все ресурсы в архиве электронных ресурсов могут быть защищены авторским правом.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span th:text="#{copyright}">Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/nav :: logoutModal"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{~/js/jquery.min.js}" src="../static/js/jquery.js"></script>
<script th:src="@{~/js/bootstrap.bundle.min.js}" src="../static/js/bootstrap.bundle.js"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{~/js/jquery-easing/jquery.easing.min.js}"
        src="../static/js/jquery-easing/jquery.easing.js"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{~/js/main.min.js}" src="../static/js/main.js"></script>

</body>

</html>
