<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="#{bookAuthorList.title}+${letter}+#{pageTitle}">Library</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{~/css/fontawesome.min.css}"
          href="../static/css/fontawesome.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link th:href="@{~/css/main.min.css}"
          href="../static/css/main.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/nav :: navbar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-book"></i>
            </div>
            <div class="sidebar-brand-text mx-3" th:text="#{headTitle}">Your library</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/nav :: topbar"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form th:action="@{/search}"
                      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               th:placeholder="#{searchPlaceholder}" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-900">User</span>
                            <span style="font-size: 32px; color: Dodgerblue;">
                                <i class="fas fa-user"></i>
                            </span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                    <li sec:authorize="not isAuthenticated()" class="nav-item dropdown no-arrow">
                        <a th:href="@{~/login}" class="nav-link dropdown-toggle" href="#" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-900">LOGIN</span>
                            <span style="font-size: 32px; color: Dodgerblue;">
                                <i class="fas fa-user"></i>
                            </span>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800" th:text="#{bookAuthorList.title}+' '+${letter}">Список авторов A</h1>
                <div class="row">
                    <div class="col-xl-8 col-md-12">

                        <div class="card">
                            <div class="card-header py-3">
                                <h5 class="m-0 font-weight-bold text-primary" th:text="#{bookSeriesList}">Список серий
                                    книг</h5>
                            </div>
                            <div class="card-body p-0">
                                    <ul class="list-group list-group-flush" th:remove="all-but-first">
                                    <li th:each="series : ${seriesList}"
                                        class="list-group-item justify-content-between align-items-center p-2 pl-3">
                                        <a href="#"
                                           th:text="${series.getName()}"
                                           th:href="@{~/bookSeries/(name=${series.getName()})} ">
                                            Рецепт морковного пирога.
                                        </a>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center  p-2 pl-3">
                                        <a href="#">Слабый пол и сильный стол.</a>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center  p-2 pl-3">
                                        <a href="#">Сладкие булочки в 7 Томах</a>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center  p-2 pl-3">
                                        <a href="#">Сладкий бубалех. Энциклопедия напитков.</a>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center p-2 pl-3">
                                        <a href="#">Сладко. История о певце и музыканте.</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <nav th:replace="fragments/nav :: pagination">
                                    <ul class="pagination   ">
                                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                        <li class="page-item"><a class="page-link" href="#">&larr;</a></li>
                                        <!-- Previous page number-->
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <!-- /.Previous page number-->
                                        <!-- Current page-->
                                        <li class="page-item disabled"><span class="page-link disabled">4</span>
                                        </li>
                                        <!-- Next page number-->
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <!-- /.Next page number-->
                                        <li class="page-item"><a class="page-link">&rarr;</a></li>
                                        <li class="page-item"><a class="page-link">&raquo;</a></li>
                                    </ul>
                                </nav>
                                <nav aria-label="english alphabetical">
                                    <ul class="pagination flex-wrap pagination-sm">
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=A">A</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=B">B</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=C">C</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=D">D</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=E">E</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=F">F</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=G">G</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=H">H</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=I">I</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=J">J</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=K">K</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=L">L</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=M">M</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=N">N</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=O">O</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=P">P</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Q">Q</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=R">R</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=S">S</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=T">T</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=U">U</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=V">V</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=W">W</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=X">X</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Y">Y</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Z">Z</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=*"
                                                                 th:text="#{authors.other}">Остальные</a>
                                        </li>
                                    </ul>
                                </nav>
                                <nav aria-label="russian alphabetical">
                                    <ul class="pagination flex-wrap pagination-sm">
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=А">А</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Б">Б</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=В">В</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Г">Г</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Д">Д</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Е">Е</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Ё">Ё</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Ж">Ж</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=З">З</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=И">И</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Й">Й</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=К">К</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Л">Л</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=М">М</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Н">Н</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=О">О</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=П">П</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Р">Р</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=С">С</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Т">Т</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=У">У</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Ф">Ф</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Х">Х</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Ц">Ц</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Ч">Ч</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Ш">Ш</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Щ">Щ</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Ъ">Ъ</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Ы">Ы</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Ь">Ь</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Э">Э</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Ю">Ю</a></li>
                                        <li class="page-item"><a class="page-link"
                                                                 href="../bookSeries?name=Я">Я</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span th:text="#{copyright}">Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/nav :: logoutModal"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{~/js/jquery.min.js}" src="../static/js/jquery.js"></script>
<script th:src="@{~/js/bootstrap.bundle.min.js}" src="../static/js/bootstrap.bundle.js"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{~/js/jquery-easing/jquery.easing.min.js}"
        src="../static/js/jquery-easing/jquery.easing.js"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{~/js/main.min.js}" src="../static/js/main.js"></script>


</body>

</html>
