<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="#{main.title}+#{pageTitle}">Your library</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{~/css/fontawesome.min.css}"
          href="../static/css/fontawesome.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link th:href="@{~/css/main.min.css}"
          href="../static/css/main.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/nav :: navbar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-book"></i>
            </div>
            <div class="sidebar-brand-text mx-3" th:text="#{headTitle}">Your Library</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/nav :: topbar"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form th:action="@{/search}"
                      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               th:placeholder="#{searchPlaceholder}" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-900">User</span>
                            <span style="font-size: 32px; color: Dodgerblue;">
                                <i class="fas fa-user"></i>
                            </span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                    <li sec:authorize="not isAuthenticated()" class="nav-item dropdown no-arrow">
                        <a th:href="@{~/login}" class="nav-link dropdown-toggle" href="#" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-900">LOGIN</span>
                            <span style="font-size: 32px; color: Dodgerblue;">
                                <i class="fas fa-user"></i>
                            </span>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="h3 mb-4 text-gray-800" th:utext="#{mainTitle}">Your Library Main Page</h1>
                    </div>
                </div>
                <div class="d-none d-sm-block">
                    <div class="row">
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                                 th:text="#{main.books}">Книг
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold">
                                                <a href="#genres" th:text="${result.getCountBooks()}">43,600</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-book fa-2x text-gray-600"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                                 th:text="#{main.authors}">Авторов
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold">
                                                <div th:text="${result.getCountAuthor()}">35,639</div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-edit fa-2x text-gray-600"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1"
                                                 th:text="#{main.series}">Серий книг
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold">
                                                <a href="/bookSeries" th:text="${result.getCountSeries()}">11,689</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-book-open fa-2x text-gray-600 rotate-15"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Default Card Example -->
                    <div class="col-md-6 col-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3" id="genres">
                                <h5 class="m-0 font-weight-bold text-primary" name="genres"
                                    th:text="#{communityList.Title}">Разделы
                                    библиотеки</h5>
                            </div>
                            <div th:each="community : ${result.getCommunities()}" th:remove="all-but-first"
                                 class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action" href="#"
                                   th:href="@{/community/{communityId}/(communityId=${community.id})}"
                                   th:text="${community.getName()}">Детективы
                                </a>
                                <a class="list-group-item list-group-item-action" href="#">Романы</a>
                                <a class="list-group-item list-group-item-action" href="#">Исторический эпос</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card  border-left-info shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header">
                                <h6 class="m-0 font-weight-bold text-primary" th:text="#{main.bookChart}">Книги по
                                    жанрам</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body p-1">
                                <div style="position: relative; height: 50vh">
                                    <canvas id="genreChart" class="chartjs-render-monitor"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="card border-left-info shadow mb-4">
                            <div class="card-header py-3">
                                <h5 class="m-0 font-weight-bold text-primary" th:text="#{topAuthors}">Топ авторов</h5>
                            </div>
                            <ul class="list-group list-group-flush" th:remove="all-but-first">
                                <li class="list-group-item" th:each="author : ${authors}">
                                    <a th:href="@{author(name=${author.getResult()})}"
                                       th:text="${author.getResult()}" href="#">Джек Лондон</a>
                                    <span class="badge badge-light float-right" th:text="${author.getCount()}">25</span>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">Лев Николаевич Толстой</a>
                                    <span class="badge badge-light float-right">6</span>
                                </li>
                            </ul>
                        </div>

                        <div class="card border-left-secondary shadow mb-4">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1"
                                             th:text="#{main.update}">Книг добавлено
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold"
                                             th:text="${result.getUpdateInfo().getBookCount()}">11,689
                                        </div>
                                        <div class="text-xs"
                                             th:text="Время обновления ${#temporals.format(result.getUpdateInfo().getUpdated(), 'dd-MM-yyyy')}">
                                            10-01-2001
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-book-open fa-2x text-gray-600 rotate-15"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span th:text="#{copyright}">Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/nav :: logoutModal"></div>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.js"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" src="../static/js/bootstrap.bundle.js"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/js/jquery-easing/jquery.easing.min.js}"
        src="../static/js/jquery-easing/jquery.easing.js"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/main.min.js}" src="../static/js/main.js"></script>

<script th:src="@{/js/Chart.min.js}" src="../static/js/Chart.min.js"></script>
<script th:inline="javascript">
    let countBookCommunity = /*[[${result.getCountBookComm()}]]*/ [144648, 101277, 55170, 53238, 43858, 37357, 25970, 25017, 19900, 46105];
    let countLabel = /*[[${result.getCountBookCommName()}]]*/ ["Фантастика", "Проза", "Детективы и Триллеры", "Любовные романы", "Наука, Образование", "Документальная литература", "Прочее", "Литература для детей", "Приключения", "Остальное"];
</script>
<script type="text/javascript" src="../static/js/pages/index.js" th:src="@{~/js/pages/index.js}"></script>

</body>

</html>
