<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="#{search}+#{pageTitle}">Library</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{~/css/fontawesome.min.css}"
          href="../static/css/fontawesome.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link th:href="@{~/css/main.min.css}"
          href="../static/css/main.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/nav :: navbar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-book"></i>
            </div>
            <div class="sidebar-brand-text mx-3" th:text="#{headTitle}">Your library</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" class="mb-3">

            <!-- Topbar -->
            <nav th:replace="fragments/nav :: topbar"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form th:action="@{/search}"
                      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               th:placeholder="#{searchPlaceholder}" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-900">User</span>
                            <span style="font-size: 32px; color: Dodgerblue;">
                                <i class="fas fa-user"></i>
                            </span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                    <li sec:authorize="not isAuthenticated()" class="nav-item dropdown no-arrow">
                        <a th:href="@{~/login}" class="nav-link dropdown-toggle" href="#" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-900">LOGIN</span>
                            <span style="font-size: 32px; color: Dodgerblue;">
                                <i class="fas fa-user"></i>
                            </span>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!--/*@thymesVar id="searchForm" type="ru.hldns.klaw.web.controller.SearchController.SearchForm"*/-->
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div class="card border-left-primary shadow">
                                    <div class="card-header" th:text="#{search}">
                                        Поиск
                                    </div>
                                    <div class="card-body">
                                        <form id="searchFrom" action="search" method="get" class="form-group">
                                            <div class="input-group">

                                                <input autofocus class="form-control bg-light" type="text" size="50"
                                                       id="query"
                                                       minlength="3"
                                                       name="query"
                                                       th:field="${searchForm.query}" th:value="${searchForm.query}">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary btn-icon-split" type="submit">
                                                        <span class="icon">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                        <span class="text" th:text="#{search}">
                                                            Поиск
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="communityFilter">Фильтер по жанру:</label>
                                                    <select id="communityFilter" class="form-control" name="location"
                                                            th:field="${searchForm.community}"
                                                            th:value="${searchForm.community}" type="hidden">
                                                        <option value="0">Вся библиотека</option>
                                                        <option value="1" selected="selected"
                                                                th:each="community :${communities}"
                                                                th:value="${community.id}"
                                                                th:text="${community.name}">
                                                            Космос бескрайний
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <span>Текущие фильтры:</span>
                                            <div class="form-group" id="filterForm">
                                                <div class="row pb-1" id="formFilter_0"
                                                     th:each="filter,rowStat : ${searchForm.filters}"
                                                     th:id="formFilter_+${rowStat.index}"
                                                >
                                                    <div class="col-3 col-md-2">
                                                        <select class="form-control" id="form_filter_type0"
                                                                th:id="form_filter_type+${rowStat.index}"
                                                                th:field="${searchForm.filters[__${rowStat.index}__].field}"
                                                                th:value="${searchForm.filters[__${rowStat.index}__].field.name()}"
                                                                th:remove="all-but-first">
                                                            <option value="title" selected="selected"
                                                                    th:each="field :${searchForm.fieldType}"
                                                                    th:value="${field.name()}"
                                                                    th:text="#{${field.name()}}">
                                                                Название
                                                            </option>
                                                            <option value="author">Автор</option>
                                                            <option value="subject">Тема</option>
                                                            <option value="dateIssued">по дате выпуска</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-3 col-md-2">
                                                        <select class="form-control"
                                                                th:id="form_filter_operation+${rowStat.index}"
                                                                th:field="${searchForm.filters[__${rowStat.index}__].filter}"
                                                                th:value="${searchForm.filters[__${rowStat.index}__].filter.name()}"
                                                                th:remove="all-but-first">
                                                            <option value="equals" selected="selected"
                                                                    th:each="filterfield :${searchForm.filterType}"
                                                                    th:value="${filterfield.name()}"
                                                                    th:text="#{${filterfield.name()}}">
                                                                Равно
                                                            </option>
                                                            <option value="contains">Содержит</option>
                                                            <option value="authority">ID</option>
                                                            <option value="notequals">Не равно</option>
                                                            <option value="notcontains">Не содержит</option>
                                                            <option value="notauthority">Не ID</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-5 col-md-7">
                                                        <input class="form-control" type="text"
                                                               th:id="form_filter_input+${rowStat.index}"
                                                               th:field="${searchForm.filters[__${rowStat.index}__].value}"/>
                                                    </div>
                                                    <div class="col-1">
                                                        <div class="btn btn-danger"
                                                             id="removeFormFilter_0"
                                                             th:id="removeFilter_+${rowStat.index}"
                                                             th:value="${rowStat.index}">
                                                            <i class="fas fa-times"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="btn btn-primary btn-icon-split" id="formAddFilter">
                                                    <span class="icon"><i class="fas fa-plus"></i></span>
                                                    <span class="text"
                                                          th:text="#{search.AddFilter}">Добавить фильтр</span>
                                                </div>
                                                <button class="btn btn-primary" type="submit"
                                                        th:text="#{search.applyFilter}">
                                                    Применить фильтры
                                                </button>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="panel-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card shadow">
                                    <div class="card-header py-3">
                                        <h5 class="m-0 font-weight-bold text-primary" th:text="#{search.Result}">
                                            Результаты</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item p-0" th:each="book : ${result.resultList}">
                                            <div class="row no-gutters position-relative">
                                                <div class="col-3 col-sm-2 col-md-1">
                                                    <img src="../static/images/book.svg"
                                                         th:src="${book[8]} ? '/thumbnail'+${book[8]} : '/images/book.svg'"
                                                         class="card-img" alt="Title page" th:alt="#{coverpage}">
                                                </div>
                                                <div class="col-9 col-sm-10 col-md-11 position-static">
                                                    <div class="p-1">
                                                        <a href="#" th:href="@{~/book/{bookId}(bookId=${book[0]})}" class="stretched-link">
                                                            <h5 class="mb-1" th:text="${book[1]}">Великий барьер
                                                                жизни</h5>
                                                        </a>
                                                        <span class="text-gray-600"
                                                              th:text="#{search.authors}">Авторы: </span>
                                                        <span class="text-dark" th:text="${book[2]}">Михаил Иванов, Михаил Фербер</span>
                                                        <br>
                                                        <span class="text-gray-600"
                                                              th:text="#{search.genres}">Жанры: </span>
                                                        <span class="text-dark" th:text="${book[3]}">Фантастика, Детектив</span>
                                                        <div th:if="${book[4]}">
                                                            <span class="text-gray-600">Серия:</span>
                                                            <span class="text-dark" th:text="${book[4]}">О царях и их нравах</span>
                                                        </div>
                                                        <div>
                                                            <span th:text="${book[5]}"
                                                                  class="badge badge-secondary">4 Mb</span>
                                                            <span th:text="${book[6]}"
                                                                  class="badge badge-secondary">2019-12-12</span>
                                                            <span th:text="${book[7]}"
                                                                  class="badge badge-info badge-pill">RU</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="card-footer">
                                        <div th:replace="fragments/nav :: pagination">
                                            <ul class="pagination float-left">
                                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                                <li class="page-item"><a class="page-link" href="#">&larr;</a></li>
                                                <!-- Previous page number-->
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <!-- /.Previous page number-->
                                                <!-- Current page-->
                                                <li class="page-item disabled"><span class="page-link disabled">4</span>
                                                </li>
                                                <!-- Next page number-->
                                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                                <!-- /.Next page number-->
                                                <li class="page-item"><a class="page-link">&rarr;</a></li>
                                                <li class="page-item"><a class="page-link">&raquo;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!--Facet Card-->
                        <div class="card border-left-info shadow mb-3">
                            <div class="card-header lead">Фильтровать по автору</div>
                            <div class="card-body p-0">
                                <div id="authorsFacet" th:remove="all-but-first" class="list-group list-group-flush">
                                    <button th:each="facet : ${result.authorsFacet}" type="button"
                                            th:value="${facet.getValue()}"
                                            class="list-group-item list-group-item-action list">
                                        <span th:text="${facet.getValue()}">Йо Кадзима</span>
                                        <span class="badge badge-light float-right"
                                              th:text="${facet.getCount()}">4</span>
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action list">
                                        <span>Толстоват Н.И.</span>
                                        <span class="badge badge-light float-right">3</span>
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action list">
                                        <span>Григояг Ф.Н.</span>
                                        <span class="badge badge-light float-right">1</span>
                                    </button>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                        <div th:if="${result.getCommunityFacet()}" class="card border-left-info shadow">
                            <div class="card-header  lead" th:text="#{search.genreFacet}">Фильтровать по жанрам</div>
                            <div class="card-body p-0">
                                <div id="genreFacet" th:remove="all-but-first" class="list-group list-group-flush">
                                    <button th:each="facet : ${result.getCommunityFacet()}" type="button"
                                            th:value="${facet.getValue()}"
                                            class="list-group-item list-group-item-action list">
                                        <span th:text="${communities.get(__${facet.getValue()}__-1).name}">Йо Кадзима</span>
                                        <span class="badge badge-light float-right"
                                              th:text="${facet.getCount()}">4</span>
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action list">
                                        <span>Толстоват Н.И.</span>
                                        <span class="badge badge-light float-right">3</span>
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action list">
                                        <span>Григояг Ф.Н.</span>
                                        <span class="badge badge-light float-right">1</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--End Facet Card-->
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span th:text="#{copyright}">Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/nav :: logoutModal"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{~/js/jquery.min.js}" src="../static/js/jquery.js"></script>
<script th:src="@{~/js/bootstrap.bundle.min.js}" src="../static/js/bootstrap.bundle.js"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{~/js/jquery-easing/jquery.easing.min.js}"
        src="../static/js/jquery-easing/jquery.easing.js"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{~/js/main.min.js}" src="../static/js/main.js"></script>

<script th:src="@{~/js/search.js}" src="../static/js/search.js"></script>

</body>

</html>
