<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title th:text="#{title.setting}+#{pageTitle}">Library</title>

    <!-- Custom fonts for this template-->
    <link href="../static/css/fontawesome.css"
          rel="stylesheet" th:href="@{~/css/fontawesome.min.css}" type="text/css">

    <!-- Custom styles for this template-->
    <link href="../static/css/main.css"
          rel="stylesheet" th:href="@{~/css/main.min.css}">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
        th:replace="fragments/nav :: navbar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-book"></i>
            </div>
            <div class="sidebar-brand-text mx-3" th:text="#{headTitle}">Your library</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
                 th:replace="fragments/nav :: topbar">

                <!-- Sidebar Toggle (Topbar) -->
                <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                      th:action="@{/search}">
                    <div class="input-group">
                        <input aria-describedby="basic-addon2" aria-label="Search"
                               class="form-control bg-light border-0 small" placeholder="Search for..."
                               th:placeholder="#{searchPlaceholder}" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow" sec:authorize="isAuthenticated()">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="userDropdown" role="button">
                            <span class="mr-2 d-none d-lg-inline text-gray-900">User</span>
                            <span style="font-size: 32px; color: Dodgerblue;">
                                <i class="fas fa-user"></i>
                            </span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div aria-labelledby="userDropdown"
                             class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="#">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown no-arrow" sec:authorize="not isAuthenticated()">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" role="button" th:href="@{~/login}">
                            <span class="mr-2 d-none d-lg-inline text-gray-900">LOGIN</span>
                            <span style="font-size: 32px; color: Dodgerblue;">
                                <i class="fas fa-user"></i>
                            </span>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!--/*@thymesVar id="success" type="java.lang.String"*/-->
                <div class="alert alert-primary" role="alert" th:if="${success}" th:text="${success}">
                    Пароль успешно изменен.
                </div>

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Настройки профиля</h1>
                <div class="row">
                    <div class="col-auto">
                        <div class="card shadow mb-4" th:if="${oauth}==false">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Сменить пароль</h6>
                            </div>
                            <div class="card-body">
                                <form class="" method="post" role="form" th:action="@{settings}"
                                      th:object="${passwordForm}">
                                    <div class="form-group">
                                        <label for="currentPassword" th:text="#{settings.currentPassword}">
                                            Введите ваш текущий пароль
                                        </label>
                                        <input class="form-control" id="currentPassword" required="required"
                                               th:errorclass="is-invalid"
                                               th:field="*{currentPassword}"
                                               type="password">
                                        <div class="invalid-feedback"
                                             th:each="err : ${#fields.errors('currentPassword')}" th:text="#{${err}}">
                                            Текущий пароль неверен.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword" th:text="#{settings.newPassword}">Введите новый
                                            пароль</label>
                                        <input class="form-control" id="newPassword" maxlength="100" minlength="6"
                                               th:errorclass="is-invalid" th:field="*{newPassword}" type="password">
                                        <div class="invalid-feedback"
                                             th:each="err : ${#fields.errors('newPassword')}" th:text="#{${err}}">
                                            Текущий пароль неверен.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmNewPassword" th:text="#{settings.confirmPassword}">Повторите
                                            новый пароль</label>
                                        <input class="form-control is-invalid" id="confirmNewPassword"
                                               th:errorclass="is-invalid" th:field="*{confirmation}" type="password">
                                        <div class="invalid-feedback"
                                             th:each="err : ${#fields.errors('confirmation')}" th:text="#{${err}}">
                                            Passwords Don't Match
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" th:text="#{settings.change}" type="submit">
                                        Поменять пароль.
                                    </button>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span th:text="#{copyright}">Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/nav :: logoutModal"></div>

<!-- Bootstrap core JavaScript-->
<script src="../static/js/jquery.js" th:src="@{~/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.js" th:src="@{~/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script src="../static/js/jquery-easing/jquery.easing.js"
        th:src="@{~/js/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script src="../static/js/main.js" th:src="@{~/js/main.min.js}"></script>

<script type="application/javascript">
    let password = $("#newPassword");
    let confirmPassword = $("#confirmNewPassword");

    function validatePassword() {
        if (password.val() !== confirmPassword.val()) {
            confirmPassword.addClass('is-invalid');
        } else {
            confirmPassword.removeClass("is-invalid");
        }
    }

    password.on("change", validatePassword);
    confirmPassword.on("change", validatePassword);
</script>

</body>

</html>
